<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jpet_store">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jpet_Store">
        <activity android:name=".Bird.TypeAmazon"></activity>
        <activity android:name=".Bird.Amazon" />
        <activity android:name=".Bird.BirdActivity" />
        <activity android:name=".Reptile.TypeRattles" />
        <activity android:name=".Reptile.Rattlesnake" />
        <activity android:name=".Reptile.ReptileActivity" />
        <activity android:name=".Cat.TypeManx" />
        <activity android:name=".Cat.Manx" />
        <activity android:name=".Cat.CatActivity" />
        <activity android:name=".Dog.TypeBulldog" />
        <activity android:name=".Dog.Bulldog" />
        <activity android:name=".Dog.DogActivity" />
        <activity android:name=".PaymentActivity" />
        <activity
            android:name=".SignIn2_Activity"
            android:label="@string/title_activity_sign_in2_"
            android:theme="@style/Theme.Jpet_Store.NoActionBar" />
        <activity android:name=".SignIn_Activity" />
        <activity android:name=".Login_Activity" />
        <activity android:name=".Fish.Card" />
        <activity android:name=".Fish.PageType" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Jpet_Store.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Fish.AngelFish" />
    </application>

</manifest>